@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import "./variables.scss";
@import "./breakpoints.scss";
@import "./header.scss";
@import "./banner.scss";
@import "./card.scss";
@import "./photos.scss";
@import "./content.scss";
body,
html,
#root {
  height: 100%;
  background: $white;
  padding: 0;

  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  z-index: 4;
  background-color: transparent;
  // display: inline-block;
  display: block;
  // margin: 0 5%;
  height: 100%;
  border-radius: 5px;
  @include media("<=phone") {
    margin: 0 auto;
    border-radius: 0px;
    width: 100%;
  }

  .row {
    display: flex;
    height: 100%;
    padding: 0 auto;

    @include media("<=phone") {
      display: block;
    }
  }

  .h-center {
    justify-content: center;
  }

  .v-center {
    align-items: center;
  }

  .space-between {
    justify-content: space-between;
  }

  .txt-align {
    text-align: center;
  }
}

.container-fluid {
  width: 100%;
  height: 100%;

  .row {
    display: flex;
    height: 100%;
  }
}

.App {
  z-index: 2;
  transform: translateY(0);
  position: relative;
}
