// I would clean this but I'm scared
.home {
  // height: 100%;
  overflow: hidden;
  //BANNER
  .banner-container {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    margin: auto 0;
    .banner {
      width: 100%;
      position: absolute;
      z-index: 1;
      top: 35%;
      @include media("<=tablet") {
        margin: auto auto;
      }
      @include media("<=phone") {
        margin: auto;
      }
      h1 {
        // text-shadow: 0px 1px 20px white;

        line-height: 100%;
        margin: 0 15%;
        @include media("<=tablet") {
          text-align: center;
          margin: 25px;
        }

        font-size: 3vw;
        font-weight: 700;
        @include media("<=phone") {
          text-align: center;
          font-size: 2.5rem;
          // margin-left: 15%;
        }
        span {
          font-feature-settings: "pnum";
          display: inline-flex;
          font-size: 3vw;
          font-weight: 700;

          margin-top: auto;
          @include media("<=phone") {
            // display: block;
            font-size: 2.5rem;
          }
        }
      }
      h2 {
        // text-shadow: 0px 1px 5px white;
        margin: 0 15%;
        font-size: 3vw;
        font-weight: 700;
        @include media("<=tablet") {
          font-size: 2.7rem;
          text-align: center;
        }
        @include media("<=phone") {
          font-size: 2rem;
          text-align: center;
        }
      }
      .mobile-break {
        display: none;
        @include media("<=tablet") {
          display: inline;
        }
      }
    }
    //BANNER-END

    //ARROW
    .arrow-down {
      a:visited,
      a:hover,
      a:focus {
        text-decoration: none;
        color: #212121;
      }
      width: 100%;
      position: absolute;

      bottom: 20%;
      svg {
        margin-left: auto;
        margin-right: auto;
        fill: "#212121";
        display: block;
        width: 50px;
      }
    }
    img {
      -webkit-mask-image: -webkit-gradient(
        linear,
        right top,
        right bottom,
        from(rgba(0, 0, 0, 1) 90%),
        to(rgba(0, 0, 0, 0))
      );
      mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 90%,
        rgba(0, 0, 0, 0)
      );
      display: block;
      position: absolute;
      z-index: 0;
      bottom: 0;
      width: 100%;
    }
  }
}
