// I would clean this but I'm scared
.home {
  height: 100%;
  //BANNER
  .banner-container {
    width: 100%;
    height: 75%;
    .banner {
      width: 100%;
      display: block;
      position: absolute;
      top: 0;

      top: 25%;
      @include media("<=tablet") {
        margin: auto auto;
      }
      @include media("<=phone") {
        margin: auto;
      }
      h1 {
        font-feature-settings: "pnum";
        margin: 0 15%;
        @include media("<=tablet") {
          text-align: center;

          margin: 25px 0;
        }
        .mobile-break {
          display: none;
          @include media("<=phone") {
            display: none;

            margin: 0;
          }
        }

        font-size: 3rem;
        font-weight: 700;
        @include media("<=phone") {
          text-align: center;
          font-size: 2rem;
          // margin-left: 15%;
        }
        span {
          font-feature-settings: "pnum";
          display: inline-flex;
          font-size: 3rem;
          font-weight: 700;
          @include media("<=phone") {
            // display: block;
            font-size: 2rem;
          }
        }
      }
      h2 {
        margin: 10px 15%;
        font-size: 3rem;
        font-weight: 700;
        @include media("<=tablet") {
          font-size: 2rem;
          text-align: center;
        }
        @include media("<=phone") {
          font-size: 2rem;
          text-align: center;
        }
      }
    }
    //BANNER-END

    //ARROW
    .arrow-down {
      position: absolute;
      bottom: 30%;
      left: 0;
      right: 0;

      a:visited,
      a:hover,
      a:focus {
        text-decoration: none;
        color: #212121;
      }
      width: 100%;

      svg {
        margin-left: auto;
        margin-right: auto;
        fill: "#212121";
        display: block;
        width: 50px;
      }
    }
  }
}
