// I would clean this but I'm scared
.home {
  // height: 100%;
  overflow: hidden;
  //BANNER
  .banner-container {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    margin: auto 0;
    .banner {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;

      top: 35%;
      @include media("<=tablet") {
        margin: auto auto;
      }
      @include media("<=phone") {
        margin: auto;
      }
      h1 {
        font-feature-settings: "pnum";
        margin: 0 15%;
        @include media("<=tablet") {
          text-align: center;
          margin: 25px;
        }
        .mobile-break {
          display: none;
          @include media("<=tablet") {
            display: inline;
          }
        }

        font-size: 3rem;
        font-weight: 700;
        @include media("<=phone") {
          text-align: center;
          font-size: 2.5rem;
          // margin-left: 15%;
        }
        span {
          font-feature-settings: "pnum";
          display: inline-flex;
          font-size: 3rem;
          font-weight: 700;

          margin-top: auto;
          @include media("<=phone") {
            // display: block;
            font-size: 2.5rem;
          }
        }
      }
      h2 {
        margin: 10px 15%;
        font-size: 3rem;
        font-weight: 700;
        @include media("<=tablet") {
          font-size: 2.7rem;
          text-align: center;
        }
        @include media("<=phone") {
          font-size: 2rem;
          text-align: center;
        }
      }
    }
    //BANNER-END

    //ARROW
    .arrow-down {
      a:visited,
      a:hover,
      a:focus {
        text-decoration: none;
        color: #212121;
      }
      width: 100%;
      position: absolute;

      bottom: 10%;
      svg {
        margin-left: auto;
        margin-right: auto;
        fill: "#212121";
        display: block;
        width: 50px;
      }
    }
  }
}
