//scrollBar stuff
@mixin scrollbars(
  $size,
  $foreground-color,
  $background-color: mix($foreground-color, white, 50%)
) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}
.project-container {
  width: 100%;
  //   height: 100%; //   display: flex;
  @include media("<=tablet") {
    margin: auto auto;
  }
  @include media("<=phone") {
    margin: auto;
  }
  .dates {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    flex-direction: column;
    @include media("<=445px") {
      flex-direction: column;
    }
  }
}
.card-container {
  margin-left: 1rem;
  margin-right: 1rem;
}

.card {
  overflow: hidden;
  box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  cursor: pointer;
}

.expanded {
  z-index: 3;
  overflow-y: scroll;

  @include scrollbars(0, black, black);
  background-color: #373737;
  position: fixed;
  top: 55px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 75vh;
  @include media("<=phone") {
    z-index: 5;
    width: 90%;
    height: 90vh;
    margin: 0 auto;
  }
  .content {
    display: block;
    color: #cccccc;
    margin: 5% 5%;
    font-size: 1.5em;
  }
}

.expanded {
  border-radius: 10px;
  .title-bg {
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.2);
    top: 0;
    height: 20%;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    justify-content: space-between;

    // background-color: inherit;
    // background: linear-gradient(
    //   73deg,
    //   rgba(73, 108, 70, 1) 0%,
    //   rgba(86, 0, 0, 1) 50%,
    //   rgba(86, 0, 0, 1) 100%
    // );
    img {
      position: relative;
      //   right: 1px;
      width: 40%;
      object-fit: cover;
      object-position: 50% 50%;
      -webkit-mask-image: -webkit-gradient(
        linear,
        right top,
        left top,
        from(rgba(0, 0, 0, 1) 90%),
        to(rgba(0, 0, 0, 0))
      );
      mask-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 1) 90%,
        rgba(0, 0, 0, 0)
      );
      @include media("<=phone") {
        object-fit: cover;
        -webkit-mask-image: none;

        mask-image: none;
        width: 100%;
      }
    }
    .title-div {
      display: flex;
      position: relative;
      height: 100%;
      width: 75%;
      @include media("<=phone") {
        position: absolute;

        left: 0;
        width: 100%;
        h1 {
          margin: auto;
        }
      }
    }
    h1 {
      text-shadow: 0px 2px 3px #212121;
      margin: auto;
      font-size: 3vw;
      color: white;
      @include media("<=phone") {
        font-size: 6vw;
      }
    }
  }
}

.compact {
  position: relative;
  background-color: #373737;
  width: 90vh;
  height: 15rem;
  //   padding: 0.5rem;
  margin: 20px 0;
  border-radius: 10px;
  @include media("<=phone") {
    width: 70vw;
    height: 70vw;
  }
  .title-bg {
    height: 100%;
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .title {
    position: absolute;
    text-shadow: 0px 2px 3px #212121;
    color: black;
    margin: auto;

    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    font-size: 3.5vw;
    @include media("<=445px") {
      font-size: 12vw;
    }
  }
}
