//scrollBar stuff
@mixin scrollbars(
  $size,
  $foreground-color,
  $background-color: mix($foreground-color, white, 50%)
) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

.project-title-div {
  width: 100%;
  margin: 0 auto;
  margin-top: 3%;

  @include media("<=phone") {
    margin-top: 10%;
  }

  h1 {
    margin: 0 15%;
    font-size: 3rem;
    // text-align: center;
    font-weight: bold;

    @include media("<=phone") {
      margin-top: 5%;
      font-size: 10vw;
      text-align: center;
    }
  }
}

.project-container {
  width: 100%;
  //   height: 100%; //   display: flex;

  @include media("<=phone") {
    margin: auto;
  }

  .dates {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
  }
}

.card-container {
  margin-left: 1rem;
  margin-right: 1rem;
}

.card {
  overflow: hidden;
  box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.expanded {
  z-index: 3;
  overflow-y: scroll;

  @include scrollbars(0, black, black);
  background-color: rgba(55, 55, 55, 0.5);
  backdrop-filter: blur(6px);
  position: fixed;
  top: 55px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 90vh;

  @include media("<=phone") {
    height: 95vh;

    z-index: 5;
    width: 100%;
    margin: 0 auto;
  }

  .content {
    display: block;
    color: #cccccc;
    margin: 5% 5%;
    font-size: 1.5em;
  }
}

.expanded {
  border-radius: 10px;

  .title-bg {
    position: sticky;
    cursor: pointer;
    z-index: 1;
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.2);
    height: 20vh;
    margin: auto;
    top: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    img {
      position: relative;
      width: 40%;
      object-fit: cover;
      object-position: 50% 50%;
      -webkit-mask-image: -webkit-gradient(
        linear,
        right top,
        left top,
        from(rgba(0, 0, 0, 1) 90%),
        to(rgba(0, 0, 0, 0))
      );
      mask-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 1) 90%,
        rgba(0, 0, 0, 0)
      );

      @include media("<=phone") {
        -webkit-mask-image: none;
        mask-image: none;
        width: 100%;
      }
    }

    .title-div {
      display: flex;
      position: relative;
      height: 100%;
      width: 75%;

      @include media("<=phone") {
        width: 100%;
        position: absolute;
        left: 0;

        h1 {
          margin: auto;
        }
      }
    }

    h1 {
      text-shadow: 0px 2px 3px #212121;
      margin: auto;
      font-size: 3vw;
      color: white;

      @include media("<=phone") {
        font-size: 6vw;
      }
    }
  }
}
.close-button {
  position: fixed;
  z-index: 6;
  top: 5vh;
  right: 15%;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.281);
  backdrop-filter: blur(6px);
  border-radius: 100px;
  cursor: pointer;
  &:hover {
    background-color: rgba(55, 55, 55, 0.281);
    fill: white;
  }
}

.compact {
  cursor: pointer;
  position: relative;
  background-color: rgba(55, 55, 55, 0.5);
  backdrop-filter: blur(6px);
  width: 20vw;
  height: 20vw;
  margin: 5px 0;

  @include media("<=phone") {
    width: 70vw;
    height: 70vw;
  }

  .title-bg {
    height: 100%;
  }

  img {
    // -webkit-mask-image: -webkit-gradient(
    //   linear,
    //   right top,
    //   left top,
    //   from(rgba(0, 0, 0, 1) 90%),
    //   to(rgba(0, 0, 0, 0))
    // );
    // mask-image: linear-gradient(
    //   to left,
    //   rgba(0, 0, 0, 1) 90%,
    //   rgba(0, 0, 0, 0)
    // );
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .title {
    position: absolute;
    text-shadow: 0px 2px 3px #212121;
    color: black;
    margin: auto;
    // font-size: 2vw;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    font-size: 2vw;

    @include media("<=phone") {
      font-size: 6vw;
    }
  }
}
