.header {
  position: fixed;
  width: 100%;
  height: 70px;
  top: 20px;
  z-index: 4;
  margin-left: auto;
  margin-right: auto;
  @include media("<=phone") {
    height: 70px;
  }

  .addOnMenu {
    position: relative;
    // transform: translateX(30%);
    // top: 58px;

    width: 20%;
    text-align: center;
    // height: 100%;
    // margin: auto 20px;

    p {
      margin: 0 10px;
      display: inline;
      justify-content: space-around;
      font-weight: 700;
      text-decoration: none;

      .menuItem {
        font-weight: 700;
        font-size: 1.1rem;
      }
    }
  }
  .logo {
    text-align: center;
    padding: 0;
    margin: 0 0 0 20px;
    @include media("<=phone") {
      margin: 0 auto;
    }
    .svg {
      -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
      filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.7));
      display: block;
      transform: scale(1.2);
      margin-top: 20px;
      width: 50px;
      // scale: 0.5;
    }
    .desktop {
      vertical-align: middle;
      font-size: 1.4rem;
      font-weight: 700;
      text-decoration: none;
      letter-spacing: 0.3rem;
      color: $black;
      @include media("<=phone") {
        font-size: 1.5rem;
        letter-spacing: 0.7rem;
        width: 100%;
      }
    }

    .small {
      display: block;
      font-size: 0.7rem;
      @include media("<=phone") {
        font-size: 0.8rem;
      }
    }
  }
  .addOnMenu {
    display: flex;
    flex-direction: row;
    margin: auto 20px;
    width: 200px;

    @include media("<=phone") {
      display: none;
    }

    p {
      text-decoration: none;
      justify-content: space-around;
      font-weight: 700;
      height: 100%;
      padding: 10px 5px;
      margin: 0 4px;
    }
    .menuItem {
      font-weight: 700;
      font-size: 1.1rem;
    }
    @include media("<=phone") {
      display: none;
    }
  }
}
