.imageContainer {
  display: flex;
  //   position: relative;
  //   flex: 10%;
  height: 100%;
  width: 70%;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  //   align-items: baseline;

  //   margin: 0 10%;
  margin-top: 10%;
  .flickrImage {
    max-height: 300px;
    width: auto;
    margin: auto 0;
    // flex-basis: auto;
    @include media("<=phone") {
      height: unset;
      width: 100%;
    }
  }
}
.loader {
  width: 100%;
}
.load {
  display: block;
  margin: auto;
  width: 200px;
  margin: 20% auto;
  // margin-top: 35%;
}
