.photos {
  position: relative;
  width: 100%;
  // padding-top: 5%;
  min-height: 100%;
  background-color: #212121;
  @include media("<=phone") {
    font-size: 1.5rem;
    // margin: 0 10px;
    padding-top: 30%;
  }
}
.photoBanner {
  width: 100%;
  top: 0;
  position: relative;
  padding-top: 5%;
  background-image: linear-gradient(
    to top,
    (rgba(0, 0, 0, 0) 2%),
    rgba(33, 33, 33, 0.5) 50%,
    rgba(33, 33, 33, 0.5) 100%
  );
  h1 {
    position: sticky;
    display: block;
    padding-bottom: 5%;
    color: white;
    text-align: center;
    @include media("<=phone") {
      font-size: 1.5rem;
      margin: 0 10px;
    }
    span {
      a {
        text-decoration: none;
      }
    }
  }
}
.imageContainer {
  display: flex;

  width: 100%;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  align-items: baseline;
  .flickrImage {
    max-height: 300px;
    width: auto;
    margin: auto 0;
    @include media("<=phone") {
      margin: 5px 0;
      max-height: unset;
      max-width: 100%;
    }
  }
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  // height: 100vh;
}
.load {
  width: 200px;

  // margin-top: 35%;
}
