.photos {
  position: relative;
  width: 100%;
  //   height: 100%;
  background-color: #212121;
}
.imageContainer {
  display: flex;

  width: 100%;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  align-items: baseline;

  //   margin: 0 10%;
  padding-top: 10%;
  .flickrImage {
    max-height: 300px;
    width: auto;
    margin: auto 0;
    // flex-basis: auto;
    @include media("<=phone") {
      margin: 5px 0;
      max-height: unset;
      max-width: 100%;
    }
  }
}
.loader {
  width: 100%;
  //   height: 100vh;
}
.load {
  display: block;
  margin: auto;
  width: 200px;

  padding-top: 20%;
  padding-bottom: 20%;

  margin: 0 auto;
  // margin-top: 35%;
}
