.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.bold {
  font-weight: bold;
}
nav {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 20px;
  background: rgb(85, 85, 85);
  box-shadow: 2px 2px 5px white;
}
nav li {
  display: inline;
  padding: 0px 10px;
}
nav p {
  color: white;
}
.App-header {
  background: #1f1f1f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
